<br />
<img src="~/images/adminarea.jpg" alt="Área de Administração" />
<div class="container">
    <div class="jumbotron">
        <p>
            <h2>This is the Admin area</h2>
        </p>
    </div>
    <a asp-area="" asp-controller="Home" asp-action="Index">Back to Home Page</a>
</div>
